/* Container Styling */
.aboutContent {
  padding-top: 120px;
  max-width: 1000px;
  margin: 0 auto;
}

/* Header Styling */
.aboutHeader {
  font-family: var(--font-abhaya-libre), sans-serif;
  font-size: 48px;
  color: #d4e8c3;
  margin-bottom: 20px;
}

/* Lead Text Styling */
.aboutLead {
  font-family: var(--font-inter), sans-serif;
  color: #333;
  font-size: 18px;
}

/* Image Styling */
.aboutImage {
  margin-bottom: 20px;
  border-radius: 8px;
  opacity: 50%;
}

/* Card Styling */
.aboutCard {
  margin-bottom: 20px;
  background-color: #d4e8c3;
  border: none;
}

.aboutCardTitle {
  font-family: var(--font-abhaya-libre), sans-serif;
  color: #56743b;
  font-size: 20px;
}

.aboutCardText {
  font-family: var(--font-inter), sans-serif;
  color: #333;
  font-size: 16px;
}

/* General Styling */
.clientWebsiteContainer {
  background-color: #fff;
}
